@page
@model Website.Pages.AboutModel
@{
}

<div class="container">
   <div class="row section-1">
      <div class="col">
         <h1 class="text-uppercase">Profile</h1>
         <p>
            Experienced and highly motivated software developer with a background in enterprise retail point-of-sale software
            as well as labelling in the food industry.
            I have been involved with all aspects of the software development lifecycle and worked in an agile environment with Scrum and Kanban.
            Over the last 4 years I've taken a product from the very early stages to public launch including building infrastructure,
            CI build pipelines, back-end services, REST API's and UI.
         </p>
      </div>
   </div>

   <div class="row section-2">
      <div class="col">
         <h1 class="text-uppercase">Experience</h1>
         <h2>Senior Software Developer - Wessex Labels</h2>
         <h3 class="text-black-50">March 2016 - Present</h3>
         <ul>
            <li>
               Worked closely with the development manager to take a very early stage proof of concept B2B software for managing food products, visually designing food packaging labels and printing them to public launch.
            </li>
            <li>
               Designed and built a website portal for use by administrators, distributors and customers to manage customer accounts and software licencing including viewing of diagnostic log files and label printing activity reports.
            </li>
            <li>
               Integrated the account management and licencing with the third-party service Chargebee for handling billing and subscriptions.
            </li>
            <li>
               Designed and fully implemented a visual, extensible, dragand-drop editor for rapidly creating and printing custom labels that pull all data from the database. The editor can show an accurate live preview with real product data, nutritional information, custom front-of-pack GDAs, images and barcodes.
            </li>
            <li>
               Set up and managed multiple continuous integration build pipelines using TeamCity. Software components are built and unit tested on each code check-in. Nightly Integration tests are run against the server API and installers are pushed to a UI automation testing system whose results are aggregated into TeamCity.
            </li>
            <li>
               Built the core framework underlying the windows service that hosts the REST API using NancyFx including login and JWT authentication.
            </li>
            <li>
               Created a custom branded WPF theme for Telerik controls.
            </li>
            <li>
               Mentored multiple new developers to help them learn the software, to learn skills needed for the project including helping our web designer with JavaScript and React and our software developer with C#, WPF, .NET Framework and WiX installers.
            </li>
         </ul>
      </div>
   </div>
</div>