@page
@model IndexModel
@addTagHelper Website.Middleware.Markdown.TagHelpers.MarkdownTagHelper, Website.Middleware.Markdown.TagHelpers
@{
   ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1 class="display-4">Welcome</h1>
   <p>Welcome to my personal development website and blog.</p>
</div>

<div class="container">
   <div class="row">
      <div class="col">
         @{
            var markdownText = "  # Header 1\nTest text\n* point 1\n* point 2\n* point 3";
         }
         @*<markdown text="@markdownText">

         </markdown>*@

         <markdown>
# Header 1
Some text to try
- Test
* test point 2
* whats this do
- another point
* point 3
         </markdown>
      </div>
   </div>
</div>