@page
@model IndexModel
@addTagHelper Website.Middleware.Markdown.TagHelpers.MarkdownTagHelper, Website.Middleware.Markdown.TagHelpers
@{
   ViewData["Title"] = "Home page";
}

<div class="row section-full">
   <div class="container d-flex">
      <div class="text-center my-auto w-100">
         <h1 class="display-1">Welcome</h1>
         <h3>Welcome to my personal development website and blog.</h3>
      </div>

   </div>   
</div>
