@page
@model IndexModel
@addTagHelper Website.Middleware.Markdown.TagHelpers.MarkdownTagHelper, Website.Middleware.Markdown.TagHelpers
@{
   ViewData["Title"] = "Home page";
}

<div class="container">
   <div class="row">
      <div class="col">
         <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Welcome to my personal development website and blog.</p>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col">
         
      </div>
   </div>
</div>