@page "/Blog/Post/{*postName}"
@model Website.Pages.Blog.PostModel
@{
   ViewData["Title"] = @Model.Post.Title;
}

<div class="container">
   <markdown text="@Model.Post.Content"></markdown>
</div>

@section Scripts {
   <link rel="stylesheet"
         href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>

   <script>hljs.initHighlightingOnLoad();</script>
}